<div id="edit-account-form">
  <h3>Update Your Account</h3>
  <br>
  <%= form_for user do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <span class="form-fields">Leave blank unless to change your password.</span><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :first_name %> <br />
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %> <br />
      <%= f.text_field :last_name, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :class_year %> <br />
      <%= f.text_field :class_year, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :blurb %> <br />
      <%= f.text_field :blurb, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone%>
    </div>

    <div class="field">
      <%= f.label :share_phone, 'Share your number?' %>
      <%= f.check_box :share_phone %>
    </div>

    <div class="field">
      <%= f.label :current_password %>
      <span class="form-fields">Confirm changes by entering your password.</span><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "button secondary tiny" %>
    </div>
  <% end %>

  <h3>Unhappy?</h3>

  <%= button_to "Cancel my account", registration_path(:user), class: "button secondary tiny", data: { confirm: "Are you sure?" }, method: :delete %>

  <%= link_to "Back", :back %>
</div>
