<div id="sign-up-form">
  <h3>Join to Find Wendy</h3>
  <br>
  <%= form_for(@user || User.new, as: :user, url: registration_path(:user)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "wendy@wellesley.edu" %>
    </div>

    <div class="field">
      <%= f.label :first_name, 'First Name' %><br />
      <%= f.text_field :first_name, placeholder: "Wendy" %>
    </div>

    <div class="field">
      <%= f.label :last_name, 'Last Name' %><br />
      <%= f.text_field :last_name, placeholder: "Wellesley" %>
    </div>

    <div class="field">
      <%= f.label :class_year, 'Class Year'%><br />
      <%= f.text_field :class_year, placeholder: "2009" %>
    </div>

    <div class="field">
      <%= f.label :blurb %><br />
      <%= f.text_field :blurb, placeholder: "160 max"%>
    </div>

    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone,  placeholder: "5555555555" %>
    </div>

    <div class="field">
      <%= f.label :share_phone, 'Share your number?' %>
      <%= f.check_box :share_phone %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "secondary button small" %>
    </div>
  <% end %>

  <h3>Already Have An Account?</h3>
  <%= link_to 'Sign In', new_user_session_path, "data-reveal-id" => "sign-in-modal"  %>
</div>
