<h1>Here's Wendy!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Class Year</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for current_location in current_locations %>
    <tr>
      <td><%= current_location.user.first_name %><%= current_location.user.last_name %></td>
      <td><%= current_location.user.class_year %></td>
      <td><%= current_location.address %></td>
      <td><%= current_location.latitude %></td>
      <td><%= current_location.longitude %></td>
    </tr>
  <% end %>
</table>
