<h1> Say hello! </h1>

<ul class="user-profile">
  <li><%= @user.first_name %> <%= @user.last_name %></li>
  <% if @user.blurb.present? %>
    <li>"<%= @user.blurb %>"</li>
  <% end %>
  <li>Class of <%= @user.class_year %></li>
  <li>Last Check In: <%= @current_location[0].address %></li>
</ul>

<%= form_for @ping do |f| %>
  <%= f.hidden_field :sender_id, value: current_user.id  %>
  <%= f.hidden_field :receiver_id, value: params[:id] %>
  <%= f.submit "Ping Me!", class: "button" %>
<% end %>
