<body class="<%= params[:controller] %>">
  <div class="show-for-large-up">
    <nav class="top-bar <%= "nav" if params[:controller] == 'homes' %>" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Where's Wendy?</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <%- if current_user -%>
            <li class="has-dropdown">
              <%= link_to current_user.first_name, current_user %>
              <ul class="dropdown">
                <li><%= link_to 'Edit Profile', edit_user_registration_path, "data-reveal-id" => "edit-registration-modal" %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
              <li><%= link_to 'Sign Up', new_user_registration_path, "data-reveal-id" => "registration-modal" %></li>
              </ul>
            </li>
          <%- end -%>
        </ul>
      </section>
    </nav>
  </div>
</body>
