<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Where's Wendy?</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="off-canvas-wrap fixed" data-offcanvas>
    <div class="inner-wrap">
      <%= render "layouts/small_header" %>
      <%= render "layouts/not_small_header" %>
      <%= render "layouts/flash" %>

        <div class="row fullWidth">
          <div class="small-12 small-centered text-center">
            <%= yield %>
          </div>
        </div>

        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>

  <div id="registration-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <%= render partial: "devise/registrations/signup_form" %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="edit-registration-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <% if current_user %>
      <%= render partial: "devise/registrations/edit_form", locals: { user: current_user } %>
    <% end %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="sign-in-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <%= render partial: "devise/sessions/signin_form" %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>


  <%= yield :extra_footer %>

  <script>
    $(document).ready(function() {
      setTimeout(function(){
        $('#notice_wrapper').fadeOut("slow", function() {
          $(this).remove();
        })
      }, 1500);
    });
  </script>

</body>
</html>
