<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Where's Wendy?</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="show-for-medium-up">
  <!-- <div class="large-12 columns"> -->
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Where's Wendy?</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
          <ul class="right">
            <%- if current_user -%>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <%- end -%>
          </ul>
      </section>
    </nav>
  <!-- </div> -->
</div>

<div class="show-for-medium-up">
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="row">
    <div class="medium-5 columns large-12 columns">
      <%= yield %>
    </div>
  </div>

</div>

  <div class="off-canvas-wrap show-for-small-only" data-offcanvas>
    <div class="inner-wrap">

      <a class="left-off-canvas-toggle" href="#" >Menu</a>

      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu">
          <!-- whatever you want goes here -->
          <ul>
            <%- if current_user -%>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <%- end -%>
          </ul>
      </aside>

      <!-- main content goes here -->
      <div class="row">
        <div class="medium-5 columns">
          <%= yield %>
        </div>
      </div>

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
